$color-text: blue;
$color-background: gray;
$font-sans-serif: Helvetica, sans-serif;
$color-link: turquoise;
$color-link-hover: lighten( $color-link, 10%);
$color-link-visted: darken( $color-link, 10%);
